[Desktop Entry]
Name=Power Scheduler
Comment=Schedule power actions on Linux without keeping the app open.
Exec=power-scheduler
Icon=com.ssdevop.PowerScheduler
Type=Application
Terminal=false
Categories=System;Settings;
DBusActivatable=true
